@charset "utf-8";

/* mv */
#mv {
    position: relative;
    height: 100vh;
}

#mv video {
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

/* #mv .mv_img img {
    width: 100%;
    display: block;
}

#mv .mv_img {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.tit h2 {
    font-size: 7rem;
    font-weight: 400;
    line-height: 1.3;
}

.tit h2 span {
    font-weight: 600;
    line-height: 1.3;
}

.tit p {
    font-size: 2.3rem;
    color: #04C4D9;
    padding: 10px 0;
}


/* intro */
#intro {
    padding: 150px 0 100px;
}

#intro .inner {
    position: relative;
    height: 70vh;
}

#intro .tit h2 {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.3;
}

#intro .tit h2 span {
    font-weight: 600;
    line-height: 1.3;
}

#intro .tit p {
    font-size: 2.5rem;
    color: #04C4D9;
    padding: 15px 0;
}

#intro .start h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 10rem;
}

#intro .start {
    position: absolute;
    right: 0;
    bottom: 28%;
}

#intro .arr {
    position: relative;
    padding-top: 20px;
    padding-right: 20px;

}

#intro .arr div:nth-child(1) {
    width: 150px;
    height: 150px;
    border-left: 5px solid #000;
    border-bottom: 5px solid #000;
}

#intro .arr div:nth-child(2) {
    width: 230px;
    height: 4px;
    border-left: 5px solid #000;
    border-bottom: 5px solid #000;
    transform: translateY(50%) rotate(-45deg);
    position: absolute;
    left: -18%;
    top: 48%;
}

#intro .arr_p {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* package */
#package {
    margin-left: 5.4%;
    padding: 0px 0 150px;
}

#package .p_list img {
    width: 100%;
    display: block;
}

#package .package_img {
    position: relative;
}

#package .package_img h3 {
    position: absolute;
    right: 8%;
    top: 5%;
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* .package_img::before {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    right: 8%;
    top: 5%;
}

.p_list ul li:nth-of-type(1) .package_img::before {
    content: "AT BUSAN COVE";
}

.p_list ul li:nth-of-type(2) .package_img::before {
    content: "NAMHAE";
}

.p_list ul li:nth-of-type(3) .package_img::before {
    content: "JEJU";
}

.p_list ul li:nth-of-type(4) .package_img::before {
    content: "AT GANGNAM";
}

.p_list ul li:nth-of-type(5) .package_img::before {
    content: "BUSAN VILLAGE";
} */

#package .dec_wrapper {
    background: url(../images/dec_box.svg) no-repeat;
    width: 450px;
    height: 280px;
    position: absolute;
    bottom: -10.8%;
    left: -0.5%;
}

#package .package_dec {
    position: absolute;
    left: 0%;
    bottom: -6%;
    padding: 38px 18px 30px 35px;
}

#package .package_dec p.period {
    color: #767676;
    font-size: 1.6rem;
    padding: 10px 0;
}

#package .package_dec .btn-wrapper {
    display: flex;
    gap: 15px;
    margin-left: 180px;
    padding-top: 8px;
}

#package .package_dec .more {
    color: #04C4D9;
    display: inline-block;
    margin-top: 5px;
}

#package .package_dec .btn {
    width: 40px;
    height: 40px;
    background: #04C4D9;
    border-radius: 50%;
    position: relative;
}

#package .package_dec .btn div:nth-child(1) {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 13px;
    height: 13px;
    transform: rotate(-180deg);
    position: absolute;
    top: 33%;
    left: 35%;
}

#package .package_dec .btn div:nth-child(2) {
    background: #fff;
    width: 18px;
    height: 2px;
    transform: translateY(50%) rotate(-45deg);
    position: absolute;
    top: 48%;
    left: 25%;
}

/* 
#package .package_dec::after{
    position: absolute;
    top: -27.6%;
    left: -0.3%;
    content: "";
    background: url(../images/Vector.png) no-repeat 0;
    width: 53px;
    height: 50px;
    display: block;
}

#package .package_dec::before{
    position: absolute;
    bottom: 0%;
    right: -13.9%;
    content: "";
    background: url(../images/Vector.png) no-repeat 0;
    width: 53px;
    height: 50px;
    display: block;
} */

/* times */
#times {
    padding: 250px 0 150px;
}

#times .tit {
    text-align: right;
    position: absolute;
    right: 0;
    top: -21%;
    padding-right: 30px;
}

.article {
    gap: 50px;
    position: relative;
}

.contents {
    display: flex;
    gap: 50px;
    width: 100%;
}

.article dl {
    border-radius: 50px;
}

.article_01 {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url(../images/article_01.jpg) no-repeat center/cover;
    background-size: 100%;
    width: 520px;
    height: 470px;
    text-align: left;
    padding: 0 50px;
    color: #fff;
    overflow: hidden;
    transition: all 0.6s;
    position: relative;
}

.article_01:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/article_01.jpg) no-repeat center/cover;
    background-size: 120%;
}

.article_01 dt {
    padding: 10px 0;
    margin-top: 310px;
    font-size: 2rem;
}

.article_01 .show_more {
    display: inline-block;
    font-size: 1.6rem;
    background: #fff;
    color: #04C4D9;
    border-radius: 50px;
    padding: 5px 15px;
    position: absolute;
    right: 8%;
    top: 8%;
    letter-spacing: 0;
    box-shadow: 2px 1px 30px rgba(0, 0, 0, 0.2);
}

.article_02 {
    background: #A2C674;
    width: 520px;
    height: 470px;
    color: #fff;
    padding: 0 50px;
    position: relative;
}

.article_02 dt {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding: 20px 0;
    margin-top: 195px;
    font-size: 4.8rem;
    line-height: 1.3;
}

#times .btn_wrapper {
    position: absolute;
    right: 8%;
    top: 8%;
}

#times .btn {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1); */
}


#times .btn div:nth-child(1) {
    border-left: 2px solid #04C4D9;
    border-bottom: 2px solid #04C4D9;
    width: 13px;
    height: 13px;
    transform: rotate(-180deg);
    position: absolute;
    top: 33%;
    left: 35%;
}

#times .btn div:nth-child(2) {
    background: #04C4D9;
    width: 18px;
    height: 2px;
    transform: translateY(50%) rotate(-45deg);
    position: absolute;
    top: 48%;
    left: 25%;
}

.article:nth-of-type(2) {
    padding-top: 50px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
}

.article_03 {
    width: 560px;
    height: 500px;
    position: absolute;
    right: 0;
    bottom: 0%;
    order: 2;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(../images/article_04.jpg) no-repeat center/cover;
    background-size: 170%;
    color: #fff;
    padding: 0 50px;
    overflow: hidden;
    transition: all 0.6s;
}

.article_03 dt {
    padding: 10px 0;
    margin-top: 345px;
    font-size: 2rem;
}

.article_03:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/article_04.jpg) no-repeat center/cover;
    background-size: 190%;
}

.article_03 .show_more {
    display: inline-block;
    font-size: 1.6rem;
    background: #fff;
    color: #04C4D9;
    border-radius: 50px;
    padding: 5px 15px;
    position: absolute;
    right: 8%;
    top: 8%;
    letter-spacing: 0;
}


/* .article_03 .show_more:hover {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
} */

.article_04 {
    width: 1090px;
    height: 225px;
    background: #04C4D9;
    order: 1;
    padding: 48px 50px;
}

.article_04 dt {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 7.5rem;
    letter-spacing: -1px;
    position: relative;
}

#times .arr div:nth-child(1) {
    width: 75px;
    height: 75px;
    border-right: 5px solid #fff;
    border-top: 5px solid #fff;
    position: absolute;
    right: 0;
    top: 10%;
}

#times .arr div:nth-child(2) {
    width: 140px;
    height: 4px;
    border-bottom: 5px solid #fff;
    transform: translateY(50%) rotate(-45deg);
    position: absolute;
    right: -1.8%;
    top: 53%;
}


@media(max-width:1200px) {
    #times {
        padding: 100px 0;
    }

    #times .inner {
        padding: 0 5%;
    }

    #times .tit {
        text-align: center;
        position: static;
        margin-bottom: 50px;
    }

    .article_03 {
        width: 100%;
        height: 400px;
        order: 1;
        height: auto;
        position: static;
    }

    .article_04 {
        order: 2;
    }
}

/* colletion */
#colletion {
    padding: 100px 0;
}

#colletion .tit {
    text-align: center;
}

.colletion_img {
    padding-top: 30px;
    position: relative;
    width: 100%;
}

.colletion_img img {
    display: block;
    width: 100%;
    height: auto;
}

.colletion_img .more_wrapper.more_wrapper1 {
    position: absolute;
    right: 38%;
    top: 43%;
}

.colletion_img .more_wrapper.more_wrapper2 {
    position: absolute;
    top: 50%;
    left: 25%;
}

.colletion_img .more_wrapper.more_wrapper3 {
    position: absolute;
    top: 85%;
    left: 43%;
}

.colletion_img .more_wrapper.more_wrapper4 {
    position: absolute;
    top: 70%;
    right: 30.8%;
}

.colletion_img .more_wrapper.more_wrapper5 {
    position: absolute;
    top: 65%;
    right: 18%;
}

.colletion_img .more_wrapper.more_wrapper6 {
    position: absolute;
    top: 64%;
    right: 50%;
}

.colletion_img .more {
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.colletion_img .more div:nth-child(1) {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.colletion_img .more div:nth-child(1) i {
    font-size: 3rem;
    color: #04C4D9;
    position: absolute;
    left: 48%;
    top: 52%;
    transform: translate(-50%, -50%);
}

/* .colletion_img .stand {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 20px;
    top: 44%;
    left: 50%;
} */

.colletion_img .object {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    width: 200px;
    height: auto;
    padding: 20px;
    top: -55%;
    right: 180%;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.2);
}

.more_wrapper:nth-of-type(2) {
    left: 20%;
    top: 0;
}

.colletion_img .object dt {
    position: relative;
    font-size: 1.7rem;
}

.colletion_img .object dt::before {
    content: "";
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 10px 0 10px 20px;
    float: left;
    height: 0;
    margin: 0 10px;
    width: 0;
    position: absolute;
    left: 106.3%;
    top: 60%;
}

.colletion_img .object dd {
    font-weight: 700;
    color: #535353;
    padding-top: 5px;
}

.object .btn_wrapper {
    position: absolute;
    left: 75%;
    bottom: 18%;
}

.object .btn {
    width: 31px;
    height: 31px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.object .btn div:nth-child(1) {
    border-left: 2px solid #04C4D9;
    border-bottom: 2px solid #04C4D9;
    width: 10px;
    height: 10px;
    transform: rotate(-180deg);
    position: absolute;
    top: 30%;
    left: 38%;
}

.object .btn div:nth-child(2) {
    background: #04C4D9;
    width: 15px;
    height: 2px;
    transform: translateY(50%) rotate(-45deg);
    position: absolute;
    top: 47%;
    left: 22.8%;
}

@media (max-width: 1200px) {
    #colletion .inner {
        padding: 0 5%;
    }
}

@media (max-width: 500px) {
    .colletion_img .more {}
}

/* membership */
#membership {
    padding: 150px 0;
}

#membership .inner {
    display: flex;
}

#membership .line {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
    padding: 80px 0;

}

#membership h2 {
    font-size: 8rem;
    font-weight: 400;
    position: relative;
}

#membership h2 span {
    color: #04C4D9;
}

#membership h2::after {
    content: "";
    position: absolute;
    right: -8%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 140px;
    height: 282px;
    border-radius: 0 150px 150px 0;
    border: 1px solid #333;
    border-left: 0;
    background: transparent;
    box-sizing: border-box;
}

#membership h2::before {
    content: "";
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 140px;
    height: 282px;
    border-radius: 0 150px 150px 0;
    border: 1px solid #333;
    border-left: 0;
    background: transparent;
    box-sizing: border-box;
}

#membership .arr_p {
    position: absolute;
    right: 23%;
    top: 16.5%;
}

#membership .arr {
    position: relative;
    padding-top: 20px;
    padding-right: 20px;

}

#membership .arr div:nth-child(1) {
    width: 140px;
    height: 140px;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    transform: rotate(-45deg);
}

#membership .arr div:nth-child(2) {
    width: 220px;
    height: 4px;
    border-left: 5px solid #000;
    border-bottom: 5px solid #000;
    transform: translateY(50%);
    position: absolute;
    left: -34%;
    top: 53%;
}

#membership .m_item h3 {
    font-size: 8rem;
    font-weight: 400;
    padding: 100px 0;
}

#membership .m_item img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.swiper .m_item_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

#membership .swiper-wrapper {
    transition-timing-function: linear;
}

/* 슬라이드가 움직일 때 마다 멈추는 느낌을 제어 */
/* .swiper-slide {
    margin-right: 0 !important;
} */

.swiper-slide.larger-slide {
    width: calc(33.33% + 50px) !important;
    /* 예: 33.33%는 3개의 슬라이드를 가정, 50px는 추가 너비 */
    height: auto !important;
    /* 높이를 자동으로 조정 */
}

.larger-slide .m_item {
    height: 100%;
    /* 컨텐츠가 슬라이드 전체 높이를 차지하도록 */
}

.swiper.m_list {
    border-bottom: 1px solid #333;
}

/* .m_vs video {
    width: 1920px;
    height: 300px;
    object-fit: cover;
    /* 비디오가 크기에 맞게 잘리도록 설정 */

/* ending */
#ending {
    position: relative;
    padding: 300px 0 300px;
}

#ending .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ending h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15rem;
    letter-spacing: -0.3px;
}

#ending .slogan:nth-of-type(1) {
    display: flex;
}

#ending .slogan_img01 {
    width: 400px;
    height: 140px;
    border-radius: 60px;
    overflow: hidden;
    position: relative;
    margin: 50px 40px 0;
}


#ending .slogan_img01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#ending .slogan_img02 {
    width: 330px;
    height: 140px;
    border-radius: 60px;
    overflow: hidden;
    position: relative;
    margin: 50px 0;
}

#ending .slogan_img02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#ending .slogan:nth-of-type(2) {
    display: flex;
}

#ending .to {
    margin: 0 25px;
}

#ending .mark {
    padding-left: 20px;
}

#ending .book {
    display: flex;
    gap: 13px;
    position: absolute;
    right: 0;
    bottom: -10%;
}

#ending .book a {
    display: inline-block;
    margin-top: 5px;
    font-weight: 500;
}

#ending .btn {
    width: 40px;
    height: 40px;
    background: #04C4D9;
    border-radius: 50%;
    position: relative;
}

#ending .btn div:nth-child(1) {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 13px;
    height: 13px;
    transform: rotate(-180deg);
    position: absolute;
    top: 33%;
    left: 35%;
}

#ending .btn div:nth-child(2) {
    background: #fff;
    width: 18px;
    height: 2px;
    transform: translateY(50%) rotate(-45deg);
    position: absolute;
    top: 48%;
    left: 25%;
}